<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-sm-auto col-md-5>
                <ion-card>
                    <ion-card-header>
                        <img src="assets/Agile.png" alt=""/>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-title text-center>Laravel5.4 Ionic3</ion-card-title>
                        <form (submit)="login()">
                            <ion-item>
                                <ion-label floating>E-mail</ion-label>
                                <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label floating>Senha</ion-label>
                                <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
                            </ion-item>
                            <button ion-button type="submit" block>Entrar</button>
                            <button ion-button type="button" block color="primary" ion-right (click)="loginFacebook()">Login com <ion-icon name="logo-facebook"> </ion-icon> </button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
