<!--
  Generated template for the AddCpfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Adicionar meu CPF</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <form (submit)="submit()">
                            <ion-item>
                                <ion-input type="text" name="cpf" placeholder="CPF" [(ngModel)]="cpf" [textMask]="{mask: mask}"></ion-input>
                            </ion-item>
                            <button ion-button type="submit" block color="dark">Continuar</button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
