<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Curso Laravel Ionic</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card text-center>
        <ion-card-header>
            <ion-card-title>
                Conteúdo que faz <br>acontecer!
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Se divirta, se emocione!</p>
            <p>Tudo que você deseja está aqui.</p>
        </ion-card-content>
    </ion-card>

    <h1 text-center>Comece agora!</h1>
    <button ion-button block color="dark" navPush="AddCpfPage">Assine agora!</button>

    <ion-card text-center>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    Aqui você encontra:
                </ion-list-header>
                <button ion-button text-center color="secondary">Séries</button>
                <button ion-button text-center color="primary">Vídeos variados</button>
                <button ion-button text-center color="danger">Seleção de vídeos por categoria</button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
