<!--
  Generated template for the PlansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Planos de Pagamento</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-sm-6 *ngFor="let plan of plans | async">
                <ion-card>
                    <ion-card-header>
                        <ion-item text-center>
                            <ion-card-title><small>Plano</small><br>{{plan.name}}</ion-card-title>
                        </ion-item>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>{{plan.description}}</ion-item>
                        <button ion-item><ion-icon name="card" item-left></ion-icon> R$ {{plan.value}}</button>
                        <button ion-item><ion-icon name="block" item-left></ion-icon> {{plan.duration == 1 ? 'Anual' : 'Mensal'}}</button>
                        <button ion-button color="dark" block text-center>Comprar</button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
