<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>Minhas Configurações</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-list-header>Minhas Informações</ion-list-header>
        <ion-item>
            <form (submit)="submit()">
                <ion-item>
                    <ion-input type="password" name="password" placeholder="Senha" [(ngModel)]="user.password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" name="password_confirmation" placeholder="Confirme sua Senha" [(ngModel)]="user.password_confirmation"></ion-input>
                </ion-item>
                <button ion-button type="submit" block>Salvar</button>
            </form>
        </ion-item>
    </ion-list>
</ion-content>
